name: flutter_mvp
description: A new Flutter application.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.2.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  # Dart 常用工具类库 https://github.com/Sky24n/common_utils
  common_utils: ^1.1.3

  # Flutter 常用工具类库 https://github.com/Sky24n/flustars
  flustars: ^0.2.6+1

  # Flutter 国际化/多语言库 https://github.com/Sky24n/fluintl
  fluintl: ^0.1.2

  # https://github.com/flutterchina/dio
  dio: ^3.0.7

  # rxdart https://github.com/ReactiveX/rxdart
  rxdart: ^0.21.0

  # https://github.com/renefloor/flutter_cached_network_image
  #  cached_network_image: ^1.1.3
  cached_network_image: ^2.0.0-rc

  # https://github.com/flutter/plugins/tree/master/packages/url_launcher
  url_launcher: ^5.0.2

  # https://github.com/peng8350/flutter_pulltorefresh
  pull_to_refresh: 1.1.6

  # 格式化String https://github.com/Naddiseo/dart-sprintf
  sprintf: ^4.0.2

  # https://github.com/flutterchina/flukit.
  flukit: ^1.0.0
  #状态管理
  provider: ^3.0.0+1

  # Toast插件 https://github.com/OpenFlutter/flutter_oktoast
  oktoast: ^2.1.8

  # 路由框架 https://github.com/theyakka/fluro
  fluro: ^1.5.1

  # 处理键盘事件 https://github.com/diegoveloper/flutter_keyboard_actions
  keyboard_actions: ^2.1.2

  #https://github.com/marcojakob/dart-event-bus
  event_bus: ^1.1.0

  #获取应用包的信息 https://github.com/flutter/plugins/tree/master/packages/package_info
  package_info: ^0.4.0+2

  # https://github.com/flutter/plugins/tree/master/packages/webview_flutter
  webview_flutter: ^ 0.3.18+1

  #https://github.com/leisim/logger.git  日志工具
  logger: ^0.6.0


  flutter_mvideo_plugin:
    git:
      url: https://github.com/UrielSun/MVideoPlugin.git
#  flutter_mvideo_plugin:
#    path: ../flutter_mvideo_plugin

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

  assets:
    - assets/images/
    - assets/images/state/

  fonts:
    - family: FZLanTingHeiS
      fonts:
        - asset: assets/fonts/FZLanTingHeiS-L-GB-Regular.TTF

    - family: Lobster
      fonts:
        - asset: assets/fonts/Lobster-1.4.otf